<div class="about-section">
    <h1>About Us</h1>
    <p>For over a decade, Swaraj has helped companies achieve their most important objective: profitable growth. Backed by the world's most comprehensive B2B database, our platform puts sales and marketing professionals in position to identify, connect, and engage with qualified prospects.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/img/Swara.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Swaranjali Khetre</h2>
          <p class="title">CEO & Founder</p>
          <p>
            Swara is the CEO of Swaraj Inc, a combined organization with $350 million in recurring revenue and 1,000 employees across the globe. Swara founded Swaraj Inc in 2007 in his law school apartment; since then, the company has undergone 5 mergers and acquisitions and is backed by The Carlyle Group and TA Associates. Swara earned her J.D in law from Aurangbad University, his business degree from the University of Georai, Georai, and studied comparative law at Oxford.</p>
          <p>maskesonali1994@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/img/JK.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Jagdish Khetre</h2>
          <p class="title">Chief Financial Officer</p>
          <p>Jagdish heads the highly energetic marketing team. he is responsible for lead generation and branding strategy through inbound and outbound marketing, including email campaigns, website optimization, content marketing, advertising, social media, webinars, and events. With an accounting background.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="assets/img/md.jpg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Anthony oversees</h2>
            <p class="title"></p>
            <p>
                Anthony oversees ZoomInfo’s legal, compliance, governance, and government relations functions. Anthony joined ZoomInfo from Lane Powell PC after previously working in the New York offices of Latham & Watkins and Baker Hostetler. </p>
            <p>anthony@example.com</p>
            <p><button class="button" href ="https://www.facebook.com">Contact</button></p>
          </div>
        </div>
      </div>
  
  </div>