<div class="container">
    <h1>Angular Select Dropdown Example</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="website">Website:</label>
            <select formControlName="website"  class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Website</option>
                <option>Choose Website</option>
                <option *nfFor="let web of websitelist">{{web}}}</option>
            </select>
            <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                <div *nfIf="f.website.errors.required">Name is required</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>